/*
  Visual Money Tracker v1.0.0 | github.com/dzvilius/visual-money-tracker
  Author: Vilius Dzemyda | hello@viliusdzemyda.com

  Colour Palette:
    #485665
    #f2f0df
    #232c33
    #607890
    #A9C1D9
    #CACCB6
    #8E9E82
*/

/* ========================================================================== //
// BASE
// ========================================================================== */

body {
  font-family: 'Ubuntu', sans-serif;
  background: #EEF0F2;
  color: #232c33;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* ========================================================================== //
// COMPONENTS
// ========================================================================== */

/* APP NAVBAR =============================================================== */

.AppNavbar,
.AppNavbar > .container {
  display: flex;
  align-items: center;
}

.AppNavbar {
  height: 60px;
  color: #fff;
  background: #485665;
}

.AppNavbar__logo,
.AppNavbar__logo:link,
.AppNavbar__logo:visited,
.AppNavbar__logo:hover,
.AppNavbar__logo:active {
  display: block;
  padding: 6px;
  width: 20%;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.AppNavbar__menu {
  width: 80%;
  text-align: right;
}

.AppNavbar__menu-item,
.AppNavbar__menu-item:link,
.AppNavbar__menu-item:visited {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  font-size: 14px;
}

.AppNavbar__menu-item:hover,
.AppNavbar__menu-item:active {
  color: #fff;
}

.AppNavbar__menu-item--active {
  text-decoration: underline;
}

/* DATA OVERVIEW ============================================================ */

.DataOverview {
  height: 100%;
  padding: 20px 0 10px 0;
}

@media (min-width: 768px) {
  .DataOverview {
    padding: 30px 0 10px 0;
  }
}

.DataOverview__body {
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.DataOverview__selector {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
  z-index: 10;
}

@media (min-width: 768px) {
  .DataOverview__selector {
    top: 30px;
  }
}

.DataOverview__selector select {
  display: block;
  font-size: 14px;
  width: 100%;
  text-align: right;
  user-select: none;
  height: 24px;
  border: 1px solid #ddd;
  outline: none;
}

.DataOverview__breakdown {
  width: 100%;
}

.DataOverview__header {
  position: relative;
}

.DataOverview__headline {
  font-size: 24px;
  margin-bottom: 60px;
}

.DataOverview__item {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  padding-left: 30px;
  height: 30px;
}

.DataOverview__item--income {
  border-left: 4px solid #66c2a5;
}

.DataOverview__item--spending {
  border-left: 4px solid #F45B69;
}

.DataOverview__item--balance {
  border-left: 4px solid #4F86C6;
}

.DataOverview__item-amount {
  font-size: 20px;
  font-weight: 300;
}

.DataOverview__item-headline {
  display: inline-block;
  min-width: 120px;
  font-weight: 600;
}

.DataOverview__chart {
  padding-top: 40px;
  width: 100%;
}

#overviewChart svg {
  width: 100%;
}

/* MONTH SELECTOR =========================================================== */

.MonthSelector {
  margin-bottom: 10px;
}

.MonthSelector .dc-cbox-group {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  text-align: center;
}

.MonthSelector .dc-cbox-item {
  font-size: 12px;
  padding: 5px 0;
  width: 33%;
  display: inline-block;
}

@media (min-width: 768px) {
  .MonthSelector .dc-cbox-item {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .MonthSelector .dc-cbox-item {
    width: 15%;
  }
}

.MonthSelector .dc-cbox-item input {
  display: none;
}

.MonthSelector .dc-cbox-item label {
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 1px 0;
  margin: 0;
  min-width: 90px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .MonthSelector .dc-cbox-item label {
    min-width: 100px;
  }
}

@media (min-width: 992px) {
  .MonthSelector .dc-cbox-item label {
    min-width: 110px;
  }
}

.MonthSelector .dc-cbox-item label:hover {
  border: 1px solid #485665;
}

.MonthSelector .dc-cbox-item input:checked + label {
  border: 1px solid #485665;
  background: #485665;
  color: #fff;
}

.MonthSelector input[type='reset'] {
  display: none !important;
}

/* DATA SUMMARY ============================================================= */

.DataSummary {
  height: 100%;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .DataSummary {
    padding-bottom: 30px;
  }
}

.DataSummary__body {
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.DataSummary__content {
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.DataSummary__headline {
  font-size: 24px;
  margin-bottom: 20px;
}

.DataSummary__chart {
  margin-top: 20px;
}

.DataSummary__pie-chart {
  margin: auto;
  max-width: 290px;
}

.DataSummary__chart-breakdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* TRANSACTIONS LIST ======================================================== */

.TransactionsList {
  height: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.TransactionsList__body {
  background: #fff;
  padding: 50px 20px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .TransactionsList__body {
    padding: 60px;
  }
}

.TransactionsList__headline {
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 24px;
}

.TransactionsList__table > table {
  font-size: 12px;
}

.TransactionsList__table > table th:nth-child(1) {
  width: 90px;
  padding-left: 10px;
  text-align: left;
}

.TransactionsList__table > table td:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}

.TransactionsList__table > table th:nth-child(3),
.TransactionsList__table > table td:nth-child(3),
.TransactionsList__table > table th:nth-child(4),
.TransactionsList__table > table td:nth-child(4) {
  text-align: right;
  padding-right: 10px;
  width: 80px;
}

.TransactionsList__action {
  padding: 20px 0;
  text-align: center;
}

/* APP FOOTER =============================================================== */

.AppFooter {
  font-size: 14px;
  color: #485665;
}

.AppFooter__copy {
  padding: 24px 12px;
}
