/*
  Visual Money Tracker v1.0.0 | github.com/dzvilius/visual-money-tracker
  Author: Vilius Dzemyda | hello@viliusdzemyda.com

  Colour Palette:
    #485665
    #f2f0df
    #232c33
    #607890
    #A9C1D9
    #CACCB6
    #8E9E82
*/

/* ========================================================================== //
// BASE
// ========================================================================== */

body {
  font-family: 'Ubuntu', sans-serif;
  background: #f2f0df;
  color: #232c33;
}

.temp {
  font-size: 12px;
  color: #666;
  font-style: italic;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* ========================================================================== //
// COMPONENTS
// ========================================================================== */

/* APP NAVBAR =============================================================== */

.AppNavbar,
.AppNavbar > .container {
  display: flex;
  align-items: center;
}

.AppNavbar {
  height: 60px;
  color: #fff;
  background: #485665;
}

.AppNavbar__logo,
.AppNavbar__logo:link,
.AppNavbar__logo:visited,
.AppNavbar__logo:hover,
.AppNavbar__logo:active {
  display: block;
  padding: 6px;
  width: 20%;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.AppNavbar__menu {
  width: 80%;
  text-align: right;
}

.AppNavbar__menu-item,
.AppNavbar__menu-item:link,
.AppNavbar__menu-item:visited {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  font-size: 14px;
}

.AppNavbar__menu-item:hover,
.AppNavbar__menu-item:active {
  color: #fff;
}

.AppNavbar__menu-item--active {
  text-decoration: underline;
}

/* DATA OVERVIEW ============================================================ */

.DataOverview {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
}

.DataOverview__headline {
  font-size: 20px;
  margin-bottom: 24px;
}

/* OVERVIEW CHART =========================================================== */

.OverviewChart {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 4px;
}

.OverviewChart__main {
  position: relative;
}

.OverviewChart__legend {
  position: relative;
}

#legendYearOverviewChart {
  height: 22px;
  width: 100%;
  position: relative;
}

#legendYearOverviewChart .dc-html-legend {
  width: 100%;
  position: absolute;
  text-align: right;
  top: 0px;
  right: 0;
  z-index: 10;
}

/* DATA SUMMARY ============================================================= */

.DataSummary {
  background: #fff;
  padding: 40px 20px 20px;
  margin: 10px 0;
  border-radius: 4px;
}

.DataSummary__content {
  position: relative;
  text-align: center;
}

.DataSummary__headline {
  font-size: 20px;
}

.DataSummary__chart {
  margin-top: 20px;
}

.DataSummary__pie-chart {
  margin: auto;
  max-width: 290px;
}

.DataSummary__chart-breakdown {
  padding: 10px 0 20px;
}

/* TRANSACTIONS LIST ======================================================== */

.TransactionsList {
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
}

.TransactionsList__headline {
  font-size: 20px;
  margin-bottom: 24px;
}

.TransactionsList__table > table {
  font-size: 14px;
}

.TransactionsList__table > table th:nth-child(3),
.TransactionsList__table > table td:nth-child(3),
.TransactionsList__table > table th:nth-child(4),
.TransactionsList__table > table td:nth-child(4) {
  text-align: right;
}

.TransactionsList__action {
  padding: 20px 0;
  text-align: center;
}

/* APP FOOTER =============================================================== */

.AppFooter {
  font-size: 14px;
  color: #485665;
}

.AppFooter__copy {
  padding: 12px;
}
